<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.mapper.EmpMapper">
  <resultMap id="BaseResultMap" type="com.ice.entity.Emp">
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="did" jdbcType="INTEGER" property="did" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_emp
    where eid = #{eid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ice.entity.Emp">
    insert into t_emp (eid, emp_name, age, 
      sex, email, did)
    values (#{eid,jdbcType=INTEGER}, #{empName,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{sex,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, #{did,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ice.entity.Emp">
    update t_emp
    set emp_name = #{empName,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      did = #{did,jdbcType=INTEGER}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select eid, emp_name, age, sex, email, did
    from t_emp
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select eid, emp_name, age, sex, email, did
    from t_emp
  </select>
</mapper>